
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(85, 83, 83);
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin-top: 27px;
    font-size: 18px;
  }
  li h1{
    float: left;
  padding: 12px;
  padding-top: 8px;
  color: white;
  }
  li a:hover {
    color: #111111;
    font-weight: bold;
  }
  #aboutP{
    color: darkgray;
  }
  #list{
  background-color: rgb(85, 83, 83);
  height: 40px;
  position: relative;
    width: 1920px;
    
  }
  #pic{
    margin-top: 20px;
  }
  
  #para{
    border-style: hidden;
    width: 500px;
    margin-right: 200px;
    margin-left: 500px;
    padding-top: 15px;
    }
    #cont{
      margin-top: 200px;
      background-color: #333333;
      padding-left: 600px;
    }
    #contact{
      color: white;
    }
    #email{
      padding-left: 600px;
      margin-top: 20px;
    }
